@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Lexend:wght@100..900&family=Mandali&family=Outfit:wght@100..900&display=swap');
body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    color: rgb(201, 220, 255);
    background-color: rgb(7, 18, 36);
    font-family: "lexend";
    scroll-behavior:smooth;
    z-index: -3;
}

*::selection {
    background-color: rgba(0, 255, 255, 0.295);
}

#bg {
    position: fixed;
    top: 0px;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 18, 36);
}

.container {
    opacity: 0.8;
    display: flex;
    flex-direction: row;
}

.navbar {
    z-index: 3;
    position: fixed;
    width: 400px;
    height: 100vh;
}

.navbarcontent {
    position: relative;
    width: 100%;
    height: 100%;
}

.name {
    position: absolute;
    left: 50px;
    top: 50px
}

h1 {
    font-size: 50px;
    margin: 0px;
    color: rgb(235, 242, 255);
}

h2 {
    margin: 0px;
}

.content {
    width: calc(100% - 700px);
    padding: 50px;
    padding-top: 0px;
    margin-left: 400px;
}

#about {
    padding-top: 50px;
}

p {
    font-size: 20px;
    margin-top: 0px;
}

.project {
    position: relative;
    transition: 200ms;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-bottom: 10px;
    backdrop-filter: blur(100px);
}

#projectholder:hover .project {
    opacity: 0.2;
    filter: blur(2px);
}

.project:hover {
    border: 2px solid rgba(81, 99, 155, 0.61);
    background-color: rgba(55, 65, 104, 0.438);
    opacity: 1 !important;
    filter: blur(0px) !important;
}

.thumbnail {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 100%;
    aspect-ratio: 12/8;
}

.textcontent {
    margin-left: 10px;
}

.project h3 {
    margin: 0px;
    font-size: 30px;
    color: rgb(235, 242, 255);
}

.chipcontainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    bottom: 10px;
}
.chip {
    background-color: rgb(22, 75, 136);
    padding-inline: 6px;
    border-radius: 10px;
}

.linkcontainer {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px;
}

.linkcontainer a {
    transition: 200ms;
    padding: 5px;
    opacity: 0.5;
    color: inherit;
}

.linkcontainer a:hover {
    transition: 500ms;
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
}

.nav {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.nline {
    transition: 200ms;
    height: 5px;
    width: 20px;
    background-color: rgb(201, 220, 255);
}

.nlink {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 600;
    width: 300px;
}

.selected .nline {
    width: 40px !important;
}

.nlink:hover .nline {
    transition: 500ms;
    width: 30px;
}

.links {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.mobilenav {
    position: fixed;
    display: none;
    z-index: 10;
    top: 0px;
    overflow: hidden;
    width: 100vw;
    height: 50px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 10, 26, 0.822);
    transform: translateY(-100%);
}

.position {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}
.position h2 {
    margin-block: 10px;
}

h3 {
    font-size: 25px;
    margin-bottom: 0px;
    color: rgb(235, 242, 255);
}

.underline {
    width: 100px;
    height: 4px;
    background-color: rgb(235, 242, 255);
}

@keyframes navprojects {
    0% {
        top: 0px;
    }
    100% {
        top: -40px;
    }
}

@keyframes navabout {
    0% {
        top: -40px;
    }
    100% {
        top: 0px;
    }
}

@keyframes hidenav {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes shownav {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 1300px) {
    .project p {
        font-size: 15px;
    }
    .project h3 {
        font-size: 25px;
    }
    .project .chip {
        font-size: 15px;
    }
    .project i {
        font-size: 15px;
    }
    .content {
        width: 100%;
    }
    .linkcontainer {
        top: -10px
    }
    .project {
        height: 125px;
    }
}

@media screen and (max-width: 1040px) {
    #projectholder:hover .project {
        opacity: 1;
        filter: blur(0px);
    }
    
    .project:hover {
        border: 2px solid transparent;
        background-color: transparent;
        opacity: 1 !important;
        filter: blur(0px) !important;
    }
    #bg {
        display: none;
    }
    .content {
        margin-left: 0px;
        width: calc(100% - 100px);
    }
    .container {
        flex-direction: column;
        display: block;
    }
    .nav {
        display: none;
    }
    .navbarcontent {
        position: static;
        height: fit-content;
    }

    .name {
        position: static;
        margin-left: 50px;
        padding-top: 50px;
        margin-bottom: 100px;
        margin-bottom: 0px;
    }
    .links {
        margin-left: 50px;
        position: static;
        display: flex;
        gap: 10px;
        transform: translateX(0%);
        font-size: 25px;
    }

    .navbar {
        position: static;
        min-height: fit-content;
    }
    .navbar {
        width: 100vw;
        height: 50px;
        padding-bottom: 50px;
    }
    #about {
        padding-top: 0px;
    }
    .mobilenav {
        display: flex;
    }

    .linkcontainer {
        top: -10px
    }

}

@media screen and (max-width: 625px) {
    .content {
        margin-left: 0px;
        max-width: calc(100% - 40px);
        padding: 20px;
        padding-top: 0px;
    }
    .project p {
        font-size: 13px;
    }
    .project h3 {
        font-size: 20px;
    }
    .project .chip {
        font-size: 10px;
    }
    .project i {
        font-size: 10px;
    }
    .content {
        width: 100%;
    }
    .project {
        height: 100px;
    }
}

@media screen and (max-width: 450px) {

    .project p {
        font-size: 10px;
        padding-bottom: 10px;
    }
    .project h3 {
        font-size: 16px;
    }
    .project .chip {
        font-size: 7px;
    }
    .project i {
        font-size: 10px;
    }
    .thumbnail {
        height: 100px;
    }
    .project {
        height: auto;
    }
}