@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Outfit:wght@100..900&display=swap');
:root{
    --bg-colour: rgb(34, 33, 33);
    --text-colour: rgb(248, 248, 248);
    --div-bg-colour: rgb(77, 77, 77);
    @media (prefers-color-scheme: light) {
        --bg-colour: white;
        --text-colour: rgb(173, 173, 173);
        --div-bg-colour: rgb(77, 77, 77);
    }
}

html, body {
    height: 100%;
    margin:0;
    background-color: var(--bg-colour);
    color: var(--text-colour);
    transition: 0.5s;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}